@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import "reset";

// Variables
$primary: #003459;
$secondary: #007ea7;
$white: #fff;
$lightgray: #f4f4f4;
$gray: #efefef;
$black: #00171f;

body {
  font-family: Oxygen, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: $lightgray;
}

h1 {
  font-size: 3em;
  color: $black;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: $white;
  padding: 25px 0;
  box-shadow: 1px 1px 5px rgba($black, 0.15);
}

.game-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  padding: 50px 0;
  #scoreboard {
    width: 35%;
    background-color: $white;
    box-shadow: 1px 3px 5px rgba($black, 0.15);
    border-radius: 7px;
    .scoreboard-heading {
      padding: 20px 15px;
      background-color: $secondary;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      color: $white;
      font-size: 2.25rem;
    }
    .player {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 15px;
      background-color: $gray;
      &:nth-child(even) {
        background-color: $white;
      }
      & > * {
        flex: 1;
      }
      p {
        text-align: center;
      }
    }
  }
  #leaderboard {
    width: 63%;
    // background-color: darken($gray, 3%);
  }
}

#leaderboard {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
  gap: 10px;
  border-radius: 7px;
  .player-scorecard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    background-color: $white;
    border-radius: 7px;
    padding: 15px 20px;
    box-shadow: 1px 3px 5px rgba($black, 0.15);
    .player-name {
      display: flex;
      align-items: center;
      gap: 0px 20px;
      span {
        font-size: 2.15rem;
        font-weight: 700;
        color: $primary;
      }
      h2 {
        font-size: 1.55rem;
        color: $primary;
      }
    }
    .scores {
      display: flex;
      flex-direction: column;
      gap: 5px;
      label {
        font-weight: 700;
      }
      input {
        border-radius: 7px;
        border: 1px $gray solid;
      }
    }
  }
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  i {
    border: none;
  }
  &:after {
    content: "";
    width: 25px;
    height: 25px;
    background: #fff;
    display: block;
    border: 1px solid rgba(220, 38, 38);
    border-radius: 50%;
  }
  &:checked:after {
    background: rgba(220, 38, 38);
  }
}