@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
@import "reset";

// Variables
$primary: #003459;
$secondary: #007ea7;
$white: #fff;
$lightgray: #f4f4f4;
$gray: #efefef;
$black: #00171f;

body {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: $lightgray;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

#resetScoreboardButton {
  position: fixed;
  bottom: 5%;
  left: 10%;
  width: 100px;
  height: 100px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  font-size: 0.8em;
  background-color: $secondary;
  font-weight: 700;
  color: $white;
  cursor: pointer;
}

.hidden {
  display: none;
}

// Header
header {
  background: $white;
  padding: 25px 0;
  box-shadow: 1px 1px 5px rgba($black, 0.15);
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    h1 {
      font-size: 3.15em;
      color: $primary;
      margin-bottom: 20px;
    }
    .add-player-wrapper {
      display: flex;
      justify-content: center;
      input {
        background: $lightgray;
        padding: 5px 10px;
        border: 1px $gray solid;
        margin: 0;
        width: 225px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &:focus {
          outline: none;
          border: 1px rgba($primary, 0.55) solid;
          border-right: none;
        }
      }
      button {
        background: $primary;
        padding: 5px 10px;
        color: $white;
        border: 1px $primary solid;
        margin: 0;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

input[type="checkbox"] {
  appearance: none;
  i {
    border: none;
  }
  &:after {
    content: "";
    width: 27px;
    height: 27px;
    background: #fff;
    display: block;
    border: 1px solid rgba(firebrick, 0.25);
    border-radius: 50%;
  }
  &:checked:after {
    border: 1px solid firebrick;
    background: firebrick;
  }
}

// Game Message
#gameMessage {
  width: 90%;
  text-align: center;
  margin: 50px auto;
  font-size: 1.65rem;
  color: rgba($secondary, 0.65);
  font-weight: 700;
}

// Game wrapper
.game-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 25px;
  #leaderboard {
    background-color: $white;
    box-shadow: 1px 3px 5px rgba($black, 0.15);
    border-radius: 5px;
    .leaderboard-heading {
      background-color: $primary;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $white;
      padding: 10px 20px;
      font-size: 1.75rem;
      font-weight: 600;
    }
    .player-labels,
    .player {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    .player-labels {
      p {
        width: 30%;
        font-weight: 600;
        font-size: 0.9rem;
        color: darken($gray, 25%);
        &:nth-child(n + 2) {
          text-align: center;
        }
      }
    }
    .player {
      background-color: $gray;
      &:nth-child(even) {
        background-color: $white;
      }
      & > * {
        flex: 1;
      }
      p {
        width: 30%;
        font-weight: 500;
        color: $primary;
        &:first-of-type {
          font-weight: 600;
          font-size: 1.2rem;
        }
        &:last-of-type {
          color: firebrick;
        }
        &:nth-child(n + 2) {
          text-align: center;
        }
      }
    }
  }
  #scoreboard {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    .player-scorecard {
      display: flex;
      flex-direction: column;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 1px 3px 5px rgba($black, 0.15);
      row-gap: 15px;
      .player-name {
        background-color: $secondary;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: $white;
        padding: 5px 15px;
        h2 {
          font-weight: 500;
        }
      }
      .scores {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        label {
          font-weight: 600;
        }
        input {
          margin-bottom: 10px;
          border-radius: 5px;
          border: 1px $gray solid;
          padding-left: 5px;
        }
      }
      .buys {
        padding: 0 15px 15px 15px;
        h3 {
          width: 100%;
          margin-bottom: 5px;
          font-weight: 600;
          color: firebrick;
        }
        input {
          margin-right: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin-bottom: 0;
    }
  }
  #gameMessage {
    font-size: 2.25rem;
    margin: 75px auto;
  }
  .game-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 50px 0;
    #leaderboard {
      width: 35%;
      align-self: flex-start;
      .leaderboard-heading {
        padding: 15px 25px;
        font-size: 2.25rem;
      }
      .player-labels,
      .player {
        padding: 20px 25px;
      }
    }
    #scoreboard {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: space-between;
      gap: 10px;
      width: 63%;
      .player-scorecard {
        .player-name h2 {
          font-size: 1.55rem;
        }
        .buys {
          input {
            margin-right: 5px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
